.menu_div{
    /* text-align: center; */
    width: 100%;
    margin: 15px 0;
    /* background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    background-size: 200% auto; */
    /* border-radius: 0px 10px 10px 0px; */
}

#reports,
#import,
#receive{
    font-weight: 400;
    font-size: 15px;
    background: none;
    border: none;
    color:#fff;
    font-family: var(--Mont);
}

#reports,
#import,
#receive{
    background: #3C5393;
    background-size: 200% auto;
    padding: 10px 0;
    width: 130px;
}

#reports{
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 0px 10px 10px 0px;
    text-align: start;
}
#import,
#receive{
    padding-right: 10px;
    padding-left: 15px;
    border-radius: 10px 0px 0px 10px;
    text-align: end;
}

#download{
    display: none !important;
}

.download_div{
    text-align: end;
}
.report_div{
    text-align: start;
}

.report_download_press{
    color: #ffffff !important;
    background: #3C5393 !important;
    border-radius: 5px;
}

/* Tablet to Desktop */
@media (min-width: 768px) {
    .menu_div{
        display: none;
    }
    /* .FLash-Button{
        display: none;
    } */
}
