/* body{
    background-color: green;;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito Sans', sans-serif; */
    
    
}

/* @media print {
    body{
        background-color: green;
    }
} */
