table th{
    background: #3C5393 !important;
}

.report_table_div{
    padding: 30px;
    width: 100%;
}

.card_view{
    background: #3C5393;
    color: #fff;
    border-radius: 10px;
    padding: 15px 15px;
    border: none;
    outline: none;
    width: 200px;
}

/* .report_table_head{
    border: none !important;
    outline: none !important;
}

.report_table_head tr th{
    text-align: center !important;
    padding: 4px 4px !important;
    border: none;
    outline: none;
} */

/* .report_table_body tr td{
    text-align: center !important;
    padding: 4px 0px;
} */

.report_table_action{
    width: 100px;
    padding: 6px 0;
}

.edit_desktop,
.delete_desktop{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border: none;
    color: none;
    border-radius: 5px;
}

.edit_desktop{
    background-image: linear-gradient(to right, #363795 0%, #363795  51%, #363795  100%);
    background-size: 200% auto;
}

.delete_desktop{
    background-image: linear-gradient(to right, #953637 0%, #953637  51%, #953637  100%);
    background-size: 200% auto;
}

.month_picker_label{
    color: #363795;
    font-size: 18px;
    font-weight: 400;
}

#ajax_month_report,
#ajax_search_report,
#ajax_report_table{
    margin-top: 15px;
}
.ui.icon.input{
    /* padding: 0;
    margin: 0; */
    /* padding-top: 0; */
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    background: none !important;
    margin-left: 20px;
    margin-top: -10px;
}
.fontsize_24{
    font-size: 16px !important;
    font-weight: 700 !important;
    font-family: var(--Mont) !important;
}