

.report_card{
    width: auto;
    margin: 20px;
    padding: 15px;
    /* box-shadow:  2px 2px 5px hsl(240, 39%, 84%), 
                 -2px -2px 4px hsl(240, 0%, 100%); */
    /* font-family: var(--Mont); */
    border-radius: 10px;
    background: #F2F2F3;
    background: rgb(255, 255, 255, 75%);
    
}

.report_label{
    padding: 5px;
    color: #3C5393;
    font-weight: 700;
    font-family: var(--Nunito);
}

.report_value{
    padding: 4.5px;
    font-family: var(--Source_Sans_Pro);
    border-radius: 10px;
    font-weight: 400;
}

.report_card table{
    width: 100%;
}
.report_card table td{
    width: 50%;
}

.transac_id{
    font-weight: 700;
}

.edit,
.delete,
.submit{
    color: #fff;
    border: none;
    outline: none;
    width: 80%;
    padding: 10px 0;
    border-radius: 10px;
}

.edit{
    /* background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%); */
    /* background-image: linear-gradient(to right, #363795 0%, #363795  51%, #363795  100%);
    background-size: 200% auto; */
    background: #3C5393;
}
.delete{
    /* background-image: linear-gradient(to right, #953637 0%, #953637  51%, #953637  100%);
    background-size: 200% auto; */
    background: #800000;
}

.submit{
    background: #569F87;
}

.month_text{
    text-align: center;
    width: 8.3%;
}

#jan{
    /* background: #5265B2; */
    background: #0000FF;
    color: #fff !important;
}
#feb{
    /* background: #C199CE; */
    background: #8F00FF;
    color: #fff !important;
}
#mar{
    background: #F47F39;
    color: #fff !important;
}
#apr{
    background: #A2B2AC;
    color: #fff !important;
}
#may{
    /* background: #7DB166; */
    background: #4C9A2A;
    color: #fff !important;
}
#jun, #all{
    background: #0D0C12;
    color: #fff !important;
}
#jul{
    /* background: #E9B7C3; */
    background: #FFC0CB;
    color: #fff !important;
}
#aug{
    /* background: #9E8748; */
    background: #964B00;
    color: #fff !important;
}
#sep{
    background: #FED758;
    color: #fff !important;
}
#oct{
    /* background: #9AB9D6; */
    background: #7AD7F0;
    color: #fff !important;
}
#nov{
    background: #FFFDFA;
    color: #000 !important;
}
#dec{
    /* background: #DB937B; */
    background:  	#880808;
    color: #fff !important;
}

/* Tablet to Desktop */
@media (min-width: 768px) {

    .ajax_report{
        /* margin-top: 50px; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .report_card{
        /* width: 20%; */
        width: auto !important;
        min-width: 20%;
        margin-left: 3%;
        /* margin: 0 auto; */
    }
}