@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Poppins: 'Poppins', sans-serif;
}


video, video.inactive{
    /* width: 380px;  */
    width: 100%;
    height: 100%;
    /* height: 300px; */
}

video{
    object-fit: cover;
    text-align: center;
    border-radius: 10px;
    /* border: 3px solid red; */
    /* box-shadow:  5px 5px 10px hsl(240, 39%, 84%), 
              -4px -4px 8px hsl(240, 0%, 100%); */
}

input{
    outline: none;
    border: none;
}

label,
span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.detected{
    border: 3px solid green !important;
}

.fa-qrcode,
.fa-square-xmark,
.fa-lightbulb{
    font-size: 20px;
}

.frame-container{
    overflow: hidden;
    /* background: #E6E6E6; */
    background: rgb(255, 255, 255, 75%);
    background-image: url(../images/QR\ SCANNER@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    border-radius: 10px;
    border: 1px solid rgb(123, 123, 123, 60%);
    width: 100%; 
    height: 300px;
    text-align: center;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 16%);
}

#QR-Code{
    /* text-align: center; */
    width: 100%;
    padding: 5PX;
    font-family: var(--Nunito);
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px 0 0 5px;
}

.Button-Scan-Container{
    margin: 15px 0;
}

.Scan-Button,
.Stop-Button,
.FLash-Button{
    cursor: pointer;
    color: #fff;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    background: #363795;
    font-family: var(--Nunito);
    border: none;
    outline: none;
    padding: 7px 0;
    border-radius: 5px;
}

.Div-Scan,
.Div-Flash,
.Div-Stop{
    padding: 10px;
}

.QR-SCANNER-DIV{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.Label{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: var(--Mont);
    font-weight: 500;
    font-size: 18px;
    display: none;
    /* background: #fff; */
}

.Press_Status{
    background: none;
    /* color: #2b2684; */
    color: #005C97;
    /* box-shadow:
              inset 4px 4px 8px hsl(240, 39%, 84%), 
              inset 4px -4px 8px hsl(240, 0%, 100%); */
    box-shadow: inset 5px 5px 10px #9fa0a1,
                inset -5px -5px 10px #f9fafd;
    animation: animationname .1s linear;
    /* animation: animation-name animation-duration animation-direction animation-iteration-count   */
    transition: .1s ease-in-out;
}

.form_part{
    padding-bottom: 25px;
}

.input{
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2 !important;
    box-shadow:
              inset 4px 4px 8px hsl(240, 39%, 84%), 
              inset 4px -4px 8px hsl(240, 0%, 100%);
}

.input_part{
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  2px 2px 5px hsl(240, 39%, 84%), 
                 -2px -2px 4px hsl(240, 0%, 100%);
}

#search_item{
    border-radius: 0px 5px 5px 0;
    /* background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    background-size: 200% auto; */
    background: #363795;
    border: none;
    outline: none;
    color: #fff;
    height: 34px;
    min-width: 100%;
    /* padding: 0px 30px; */
    font-size: 14px !important;
}

.info_area_text{
    color: rgb(0, 0, 0, 43%);
    font-family: var(--Nunito);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* CSS PARA SA READER NG HTML 5 QR SCANNING */
/* #reader{
    outline: none !important;
    border: none !important;
} */
/* 
#reader div img{
    display: none;
}

#reader__dashboard_section_swaplink{
    text-decoration: none !important;
    display: none;
} */


  /* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {

    /* body{
        background-image: url('../images/WH1.png');
    } */
    video, video.inactive{
        width: 95%; 
        height: 240px;
    }    

    /* .button_text{
        display: none;
    } */

    .info_area_text{
        display: none;
    }

    .Col-3-33_in{
        background: none !important;
        /* border: 1px solid rgb(123, 123, 123, 60%); */
        /* border-radius: 20px; */
    }

}

@media (min-width: 768px) {

    .QR-SCANNER-DIV{
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .Label{
        background: #fff;
        display: block;
    }

}