hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.trigger{
    text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
}

.modal {
    /* position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
}
.modal-content {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: #fff;
    /* padding: 1rem 1.5rem; 
    padding: 20px; */
    width: 600px;
    max-height: 600px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px #888888;
    border: none !important;
}
.modal-footer{
    border-top: 0;
}

/* .modal-body {
    justify-content: center;
    align-items: center;
} */

/* .modal-content img{
    width: 70px;
} */

.close-button {
    font-size: 20px;
    font-weight: 700;
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.user_info{
    border-radius: 10px;
    width: auto;
    padding: 20px;
    box-shadow:  inset 2px 2px 4px hsl(240, 39%, 84%), 
                 inset 2px -2px 4px hsl(240, 0%, 100%);
    /* background: #3e3e3e; */
}

.user_label{
    font-size: 16px;
    /* color: #2b2684; */
    color: #005C97;
    font-weight: 700;
}
.user_content{
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.image_container {
    display: flex;
    justify-content: center;
  }

.Logout{
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
    background-size: 200% auto;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}


.btn-grad {background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
