@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
#data-table_filter input{
    color: black !important;
    background-color: white !important;
    }

#printQR{
    width: 150px;
    height: 50px;
    border-radius: 7px !important;
}
/* input {
    color: white !important;
    background-color: black !important;
    } */
#printQR:hover{
    background-color: white !important;
    border: 1px solid #3c5393 !important;
    color: #3c5393 !important;
    transform: scale(1.02);
    
}

#printQR:hover #qrTotalPieces{
    background-color: #3c5393 !important;
    /* border: 1px solid #3c5393 !important; */
    color: white !important;
    transform: scale(1.02);
    
}


#printQR:active {
    background-color: #3c5393 !important;
    color: white !important;
    
}

tbody tr:hover{
    /* background-color: #ECECEC !important; */
    /* transform: scale(1); */
    box-shadow: 3px 3px 10px #888888;
}

.logo{
    padding-left: 30px;
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #3C5393;
    justify-content: start;
    align-items: center;
    display: flex;
    height: 60px;
    /* text-align: center; */
}

.nav-links{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
}
.nav-btn {
    margin: 0;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 10px;
    letter-spacing: 1px;
    margin-right: 30px;
}

.nav-btn:hover{
    color: #3C5393 !important;
    background: none;
    transform: scale(1.05);
}
.logout-btn{
    background-color: #800000 !important;
    color: #fff;
    border-radius: 5px;
    height: 27px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.logout-btn:hover{
    color: #fff !important;
    background: #800000 !important;
    
}
    
table td{
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
}

.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered {
    border-right: 0;
    border-left: 0;
}

.form-check-input{
    cursor: pointer;
}